<form name="callback" method="POST" data-netlify="true" class="callback-form">
	<div class="callback-form-field">
		<label for="name">Your Name:</label>
		<input type="text" name="name" data-name="name" required pattern=".{1,}" style="width: 200px" />
    </div>
	<div class="callback-form-field">
		<label for="telephone">Your Telephone:</label>
		<input type="tel" name="telephone" data-name="telephone" required pattern=".{1,}" style="width: 200px" />
    </div>
	<div class="callback-form-field">
		<label for="message">Message:</label>
		<textarea name="message" data-name="message" style="width: 200px" ></textarea>
	</div>
	<div class="callback-form-field">
		<label for="agree">I agree to the <a href="/legal/privacy" target="_blank" >privacy policy</a></label>
		<input type="checkbox" name="agree" data-name="agree" required />
	</div>
	<div>
		<button type="submit">Send</button>
	</div>
</form>